* {
    box-sizing: border-box;
}

.container {
    width: 450px;
    overflow: hidden;
    margin: 0 auto;
}

.active {
    width: 30%;
}

span {
    width: 100%;
    display: block;
    text-align: center;
    font-family: sans-serif;
    color: #f3f3f3;
    font-size: 45px;
    background: dodgerblue;
}
#statistic{
   font-size: 40px;
}
td {
    border: 1px solid #8f8f8f;
}
.container .box {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    transition: all 0.2s ease-in-out;
    font-family: sans-serif;
    font-size: 125px;
    text-align: center;
    line-height: 150px;
}

.container .box:hover {
    background: #8f8f8f;
    color: #fff
}

button#play {
    background: dodgerblue;
    color: #fff;
    font-weight: bold;
    border: 1px solid #8f8f8f;
    cursor: pointer;
    width: 920px;
    height: 70px;
    font-size: 32px;
    display: block;
    margin: 50px 0;
}

.win {
    background: dodgerblue;
    color: #fff
}


.table_col {
    font-size: 14px;
    width: 100%;
    background: white;
    text-align: left;
    border-collapse: collapse;
    color: #3E4347;
}
.table_col th:first-child, .table_col td:first-child {
    color: #F5F6F6;
    border-left: none;
}
.table_col th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-left: 20px solid white;
    padding: 8px 10px;
}
.table_col td {
    border-right: 1px solid white;
    border-left: 20px solid white;
    padding: 12px 10px;
    color: #8b8e91;
}